 <h2> Emergencias</h2> 

  <div> 
  <label><!--emergencia name:-->
    O Senhor(a) estar sozinho ?
    <!--<input #emergenciaName />-->
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <!-- <button (click)="add(emergenciaName.value); emergenciaName.value=''">
    add
  </button>-->
  <form>

      <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op1">Acompanhado(a)
      <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op2">Sozinho(a)
      
    </form>
   
  
  <!--<strong>Aguarde no local que a ajuda estar chegando</strong> -->

   <p>Aguarde no local que a ajuda estar chegando</p>
   <button name="button">continuar</button>    <button name="button">cancelar</button>



<ul class="emergencias">
  <li *ngFor="let emergencia of emergencias"
    [class.selected]="emergencia === selectedemergencia"
    (click)="onSelect(emergencia)">
      <a routerLink="/detail/{{emergencia.id}}">
    <span class="badge">{{emergencia.id}}</span> {{emergencia.name}}
</a>

   <button class="delete" title="delete emergencia"
 (click)="delete(emergencia)">x</button>

  </li> 
  
</ul>  
  <!-- <app-emergencia-detail [emergencia]="selectedemergencia"><app-emergencia-detail> -->

   <div *ngIf="selectedemergencia">
    <h2>{{selectedemergencia.name | uppercase}} Details</h2> 
    <div><span>id: </span>{{selectedemergencia.id}}</div>
    <div> 
    <label>name:
      <input [(ngModel)]="selectedemergencia.name" placeholder="name"> 
    </label>
  </div>  

</div>
