<h1 style="background-color:rgb(255, 0, 0);">
<h1>{{title}}</h1>

<nav>
  
    <!-- <a button routerLink="/botao-Emergencia">emergencias</a>-->
    <button><a routerLink="/emergencias">Emergencias</a></button>
    <!--<a routerLink="/dashboard">Dashboard</a> -->
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>

</h1>
