<!--<p>
  dashboard works!
</p>
<h3>Top emergencias</h3>
<div class="grid grid-pad">
  <a *ngFor="let emergencia of emergencias" class="col-1-4"
   routerLink="/detail/{{emergecia.id}}">
    <div class="module emergencia">
      <h4>{{emergencia.name}}</h4>
    </div>
  </a>
</div>-->

<app-emergencia-search></app-emergencia-search>
