<p>
  emergencia-search works!
</p>

<div id="search-component">
  <h4>emergencia Search</h4>

  <input #searchBox id="search box" (keyup)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let emergencia of emergencias$ | async" >
      <a routerLink="/detail/{{emergencia.id}}">
        {{emergencia.name}}
      </a>
    </li>
  </ul>
</div>
