<div *ngIf="emergencia">

   <h2>{{emergencia.name | uppercase}} Details</h2> 
  <div><span>id: </span>{{emergencia.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="emergencia.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
   <button (click)="save()">save</button>
</div>
